/* Import material theme */
@import './material-theme';

/* Import mixins */
@import './mixins';

/* Import USWDS theme */
@import './uswds-theme';

body {
  margin: 0;
  height: 100%;
  position: relative;
}

html {
  height: 100%;
  position: relative;
}

.usa-focus, *:focus {
  @include focus-outline(0);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

p {
  @include u-measure('none');
}

nshmp-template {
  min-height: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

.pointer {
  cursor: pointer;
}

.material-icons.mat-icon-18 {
  @include mat-icon-size(18px);
}

.material-icons.mat-icon-24 {
  @include mat-icon-size(24px);
}

.material-icons.mat-icon-28 {
  @include mat-icon-size(28px);
}

.material-icons.mat-icon-32 {
  @include mat-icon-size(32px);
}

.material-icons.mat-icon-36 {
  @include mat-icon-size(36px);
}
