/* Import material theme */
@import './material-theme';

/* Import mixins */
@import './mixins';

/* Import USWDS theme */
@import './uswds-theme';

body {
  margin: 0;
  height: 100%;
  position: relative;
}

html {
  height: 100%;
  position: relative;
}

.usa-focus, *:focus {
  @include focus-outline(0);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

p {
  @include u-measure('none');
}

nshmp-template {
  min-height: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

.pointer {
  cursor: pointer;
}

.material-icons.mat-icon-18 {
  @include mat-icon-size(18px);
}

.material-icons.mat-icon-24 {
  @include mat-icon-size(24px);
}

.material-icons.mat-icon-28 {
  @include mat-icon-size(28px);
}

.material-icons.mat-icon-32 {
  @include mat-icon-size(32px);
}

.material-icons.mat-icon-36 {
  @include mat-icon-size(36px);
}

/* Angular material form field extra small size */
.form-field-xs .mat-form-field-infix {
  padding: 0.1em 0;
}

/* Angular material form field small size */
.form-field-sm .mat-form-field-infix {
  padding: 0.25em 0;
}

/* Angular material form field medium size */
.form-field-md .mat-form-field-infix {
  padding: 0.5em 0;
}

/* Angular material form field large size */
.form-field-lg .mat-form-field-infix {
  padding: 0.75em 0;
}

/* Angular material form field extra large size */
.form-field-xl .mat-form-field-infix {
  padding: 1em 0;
}

/* Angular material button toggle small size */
.button-toggle-xs .mat-button-toggle-label-content {
  line-height: 1 !important;
  padding: 2px 4px !important;
}

/* Angular material button toggle small size */
.button-toggle-sm .mat-button-toggle-label-content {
  line-height: 2 !important;
  padding: 2px 8px !important;
}

/* Angular material button toggle medium size */
.button-toggle-md .mat-button-toggle-label-content {
  line-height: 3 !important;
  padding: 2px 12px !important;
}

/* Angular material button toggle large size */
.button-toggle-lg .mat-button-toggle-label-content {
  padding: 2px 16px !important;
}
