
<nshmp-template
    [navigationList]="navigationList"
    [serviceInfo]="serviceInfo"
    [computeBtnDisabled]="false"
    [serviceInfoBtnDisabled]="false"
    [rawDataBtnDisabled]="false"
    [renderComputeBtn]="true"
    [renderRawDataBtn]="true"
    [renderServiceInfoBtn]="true">

    <div ngProjectAs="nshmp-control-panel">
      <ul>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Felis bibendum ut
          tristique et egestas quis ipsum suspendisse ultrices. Massa enim nec dui
          nunc mattis enim. Eget dolor morbi non arcu risus quis varius quam. Ipsum
          dolor sit amet consectetur adipiscing elit pellentesque habitant morbi.
          Nisl pretium fusce id velit ut. Id consectetur purus ut faucibus.
          Aliquet eget sit amet tellus cras adipiscing. Platea dictumst vestibulum
          rhoncus est pellentesque elit. Sem fringilla ut morbi tincidunt augue
          interdum velit euismod in. Massa eget egestas purus viverra.
        </li>

        <li>
          Dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Senectus
          et netus et malesuada fames ac turpis. Odio pellentesque diam volutpat
          commodo sed egestas. Sodales ut eu sem integer vitae. Orci phasellus
          egestas tellus rutrum tellus pellentesque eu tincidunt tortor. A
          scelerisque purus semper eget. Non consectetur a erat nam at lectus
          urna duis convallis. Arcu non sodales neque sodales ut etiam. Gravida
          neque convallis a cras semper auctor neque vitae tempus. Donec adipiscing
          tristique risus nec. Molestie nunc non blandit massa. Purus sit amet
          luctus venenatis. Cras sed felis eget velit aliquet sagittis id
          consectetur purus. Tortor vitae purus faucibus ornare suspendisse
          sed nisi lacus sed. Urna et pharetra pharetra massa massa ultricies mi
          quis hendrerit. Vestibulum mattis ullamcorper velit sed ullamcorper morbi
          tincidunt ornare. Porttitor massa id neque aliquam vestibulum morbi
          blandit cursus. Facilisis leo vel fringilla est ullamcorper. Amet massa
          vitae tortor condimentum lacinia quis vel eros.
        </li>
      </ul>
    </div>

    <div ngProjectAs="nshmp-main-content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Felis bibendum ut
        tristique et egestas quis ipsum suspendisse ultrices. Massa enim nec dui
        nunc mattis enim. Eget dolor morbi non arcu risus quis varius quam. Ipsum
        dolor sit amet consectetur adipiscing elit pellentesque habitant morbi.
        Nisl pretium fusce id velit ut. Id consectetur purus ut faucibus.
        Aliquet eget sit amet tellus cras adipiscing. Platea dictumst vestibulum
        rhoncus est pellentesque elit. Sem fringilla ut morbi tincidunt augue
        interdum velit euismod in. Massa eget egestas purus viverra.
      </p>

      <p>
        Dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Senectus
        et netus et malesuada fames ac turpis. Odio pellentesque diam volutpat
        commodo sed egestas. Sodales ut eu sem integer vitae. Orci phasellus
        egestas tellus rutrum tellus pellentesque eu tincidunt tortor. A
        scelerisque purus semper eget. Non consectetur a erat nam at lectus
        urna duis convallis. Arcu non sodales neque sodales ut etiam. Gravida
        neque convallis a cras semper auctor neque vitae tempus. Donec adipiscing
        tristique risus nec. Molestie nunc non blandit massa. Purus sit amet
        luctus venenatis. Cras sed felis eget velit aliquet sagittis id
        consectetur purus. Tortor vitae purus faucibus ornare suspendisse
        sed nisi lacus sed. Urna et pharetra pharetra massa massa ultricies mi
        quis hendrerit. Vestibulum mattis ullamcorper velit sed ullamcorper morbi
        tincidunt ornare. Porttitor massa id neque aliquam vestibulum morbi
        blandit cursus. Facilisis leo vel fringilla est ullamcorper. Amet massa
        vitae tortor condimentum lacinia quis vel eros.
      </p>

      <p style="padding-bottom: 1000px">
        Non consectetur a erat nam at lectus urna duis convallis. Vulputate ut
        pharetra sit amet aliquam id diam maecenas ultricies. Consequat nisl vel
        pretium lectus quam id leo in vitae. Mauris cursus mattis molestie a
        iaculis. Leo vel fringilla est ullamcorper. Amet massa vitae tortor
        condimentum lacinia. Hac habitasse platea dictumst vestibulum. Eu
        turpis egestas pretium aenean pharetra magna ac. At risus viverra
        adipiscing at in tellus integer feugiat. Tempor nec feugiat nisl
        pretium fusce id velit ut. Facilisis leo vel fringilla est ullamcorper
        eget. Turpis egestas pretium aenean pharetra. Libero id faucibus nisl
        tincidunt eget nullam non. Elementum pulvinar etiam non quam lacus
        suspendisse faucibus interdum. Etiam dignissim diam quis enim
        lobortis. Faucibus in ornare quam viverra orci sagittis.
      </p>
    </div>

  </nshmp-template>
